.info-box:after{
    content: '';
    clear: both;
    display: block;
}

.in-photo-box{
    float: left;
}

.in-info-box{
    float: left;
    padding-left: 30px;
}
.cats{
    display:flex;
}
.cat1{
    padding: 20px;
    text-align: center;
}

.cat2{
    padding: 20px;
    text-align: center;
}

.cat3{
    padding: 20px;
    text-align: center;
}

.cat4{
    padding: 20px;
    text-align: center;
}