.my-pet-list:after{
    content: '';
    clear: both;
    display: block;
}
.my-pet-list{
    display: flex;
}
.my-pet-item{
    float: left;
    text-align: center;
}
.my-pet-item1{
    float: left;
    padding-left: 120px;
}